/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #212121;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

input {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

.container, .task-container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container, .task-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container, .task-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container, .task-container {
    width: 1200px;
  }
}

.team, .partners, .portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team, .partners, .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.headlines {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.hide {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 0.03em;
  background-color: #fff;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 14px;
    line-height: 24px;
  }
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 767.98px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
            transition-timing-function: 0.4, 0, 0.2, 1;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

@media screen and (max-width: 1199.98px) {
  .menu-container {
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .menu-container-two {
    position: relative;
    width: 100%;
    padding-top: 48px;
    padding-right: 83px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .menu-container-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container-two {
    margin-left: auto;
  }
}

.menu-container__button {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
  background-color: #fff;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .menu-container__button {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__button {
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  background-color: #fff;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

.header__button:hover .header__icon-close,
.header__button:focus .header__icon-close {
  fill: #2196F3;
}

.header__button .header__icon-close {
  display: none;
}

.header__button.is-open .header__icon-close {
  display: block;
}

.header__button:hover .header__icon-open,
.header__button:focus .header__icon-open {
  fill: #2196F3;
}

.header__button.is-open .header__icon-open {
  display: none;
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 767px) {
  .header__nav {
    margin-bottom: 302px;
  }
}

@media screen and (min-width: 768px) {
  .list-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .list-nav {
    margin-left: 93px;
  }
}

@media screen and (max-width: 767px) {
  .list-nav__items:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .list-nav__items:not(:first-child) {
    margin-left: 50px;
  }
}

.list-nav__link {
  display: inline-block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.list-nav__link:hover, .list-nav__link:focus {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .list-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.list-nav__link--active {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .list-nav__link--active {
    position: relative;
  }
  .list-nav__link--active::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    -webkit-transform: translateY(34px);
            transform: translateY(34px);
  }
}

@media screen and (min-width: 1200px) {
  .list-nav__link--active::after {
    -webkit-transform: translateY(32px);
            transform: translateY(32px);
  }
}

@media screen and (max-width: 767px) {
  .header__container-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .header__container-links {
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 305px;
  }
}

.header__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header__link:hover, .header__link:focus {
    color: #2196F3;
  }
}

.header__link-tel {
  font-size: 34px;
  line-height: 1.17;
  color: #2196F3;
}

@media screen and (max-width: 767px) {
  .header__link-tel {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header__link-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
  }
}

@media screen and (min-width: 1200px) {
  .header__link-tel {
    font-size: 14px;
    line-height: 1.14;
    margin-left: 30px;
  }
}

.header__link-email {
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .header__link-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__link-email {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 0;
  }
}

.header__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__icon {
    display: inline-block;
    margin-right: 10px;
    fill: currentColor;
  }
}

.header__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header__social-networks {
    display: none;
  }
}

.header__items:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header__items:not(:first-child) {
  margin-left: 10px;
}

.header__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 0;
  }
}

.logo__text {
  color: #2196F3;
}

.logo__footer {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  color: #fff;
}

.hero {
  max-width: 1600px;
  padding: 118px 60px;
  margin: 0 auto;
  text-align: center;
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-hero-mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-hero-mobile@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero-mobile@x2.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-hero-tablet@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero-tablet@x2.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero-desktop.jpg");
    padding: 200px 0;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-hero-desktop@x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-hero-desktop@x2.jpg");
  }
}

.hero .hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 480px) {
  .hero .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero .hero-btn {
  padding: 10px 32px;
  color: #fff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.hero .hero-btn:focus, .hero .hero-btn:hover {
  background-color: #188CE8;
}

.hero__container {
  max-width: 480px;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 1200px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
  z-index: 1;
}

.backdrop__is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
  z-index: 20;
}

.backdrop__is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.button-modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  top: 11px;
  right: 12px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button-modal-close__icon {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  fill: #000;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.button-modal-close:hover .button-modal-close__icon,
.button-modal-close:focus .button-modal-close__icon {
  fill: #2196F3;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  text-align: left;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
  }
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-group-field {
  width: 100%;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 0;
  margin-bottom: 4px;
}

.form-field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.form-input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #757575;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
  outline: none;
}

.form-textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--secondary-color);
  margin: 0;
  resize: none;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.form-textarea:focus-within {
  border: 1px solid #2196F3;
}

.form-field:focus-within > .input-icon {
  fill: #2196F3;
}

.form-input:focus-within {
  border: 1px solid #2196f3;
}

.form-textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-agreement-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  padding-left: 24px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-agreement-link {
  color: #2196F3;
  text-decoration: underline;
}

.form-agreement-icon-check {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  opacity: 1;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.form-agreement-icon-checked {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  opacity: 0;
  fill: #2196F3;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.checkbox:checked ~ .form-agreement-icon-check {
  opacity: 0;
}

.checkbox:checked ~ .form-agreement-icon-checked {
  opacity: 1;
}

.form-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.form-submit-btn:hover {
  background-color: #188CE8;
}

.advantege-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantege-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-list {
    margin: -15px;
  }
}

.advantage-titles {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantage-titles {
    text-align: center;
  }
}

.advantege-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .advantege-icon {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantege-icon {
    max-width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .advantage-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantage-item {
    margin: 15px;
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-item {
    max-width: 270px;
  }
  .advantage-item:not(:first-child) {
    margin-left: 30px;
  }
}

.advantage-explanations {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.task-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .task-section {
    display: block;
    padding-top: 0;
  }
}

.task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.task-item {
  position: relative;
  margin-right: 30px;
}

.task-item:last-child {
  margin-right: 0px;
}

.img-task {
  width: 370px;
}

.task-name-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.task-name {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #F5F4FA;
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__items {
  margin-bottom: 30px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .team__items {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__items {
    width: calc((100% - 120px) / 4);
  }
}

.team__container-members {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .team__container-members {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
}

.team__text {
  margin-bottom: 16px;
  color: #2F303A;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-networks__items {
  margin-left: 10px;
}

.social-networks__items:first-child {
  margin-left: 0;
}

.team-thumb {
  width: 100%;
  margin-bottom: 30px;
}

.social-networks__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  -webkit-transition: background-color, -webkit-transform;
  transition: background-color, -webkit-transform;
  transition: transform, background-color;
  transition: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.social-networks__items:hover .social-networks__link {
  background-color: #2196F3;
}

.social-networks__link:focus {
  background-color: #2196F3;
}

.social-networks__icon {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.social-networks__items:hover .social-networks__icon {
  fill: #fff;
}

.social-networks__link:focus .social-networks__icon {
  fill: #fff;
}

.partners__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .partners__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.partners__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__items {
  margin: 15px;
  width: calc((100% - 60px) / 2);
}

@media screen and (min-width: 768px) {
  .partners__items {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .partners__items {
    width: calc((100% - 180px) / 6);
  }
}

.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.partners__items:hover .partners__link {
  border: 1px solid #2196F3;
}

.partners__link:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 768px) {
  .partners__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .partners__link {
    width: 170px;
  }
}

.partners__icon {
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
  fill: #AFB1B8;
}

.partners__items:hover .partners__icon {
  fill: #2196F3;
}

.partners__link:focus .partners__icon {
  fill: #2196F3;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  color: #fff;
}

.footer__wrap {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrap {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (max-width: 767.98px) {
  .welcome {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .welcome {
    margin-right: 86px;
  }
}

.welcome__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

.social-net {
  margin: 0;
  letter-spacing: inherit;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-net__item:not(:last-child) {
  margin-right: 10px;
}

.social-net__link {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.social-net__link:hover, .social-net__link:active {
  background-color: #2196F3;
}

.social-net__link:hover .social-net__icon,
.social-net__link:active .social-net__icon {
  fill: #fff;
}

.social-net__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-net__icon {
  fill: #AFB1B8;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.social-net__icon--footer {
  fill: #fff;
}

.address-list {
  padding: 0;
  margin: 0;
  letter-spacing: inherit;
  list-style: none;
}

@media screen and (max-width: 767.98px) {
  .address-list {
    margin-bottom: 60px;
  }
}

.address-list__item {
  font-style: normal;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  outline: none;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.address-list__link:hover {
  color: #2196F3;
}

.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    margin-top: 60px;
  }
}

.subscribe__input {
  outline: none;
  width: 100%;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
  letter-spacing: inherit;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons__item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

.portfolio-buttons__link {
  border-radius: 4px;
  padding: 6px 22px;
  background-color: #F5F4FA;
  color: #212121;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  background-color: #F5F4FA;
  -webkit-transition: background-color, color, -webkit-box-shadow;
  transition: background-color, color, -webkit-box-shadow;
  transition: background-color, color, box-shadow;
  transition: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.portfolio-buttons__link:hover, .portfolio-buttons__link:focus {
  background-color: #2196F3;
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-gallery {
  padding: 0;
  margin: 0;
  letter-spacing: inherit;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.portfolio-gallery__item {
  position: relative;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .portfolio-gallery__item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-gallery__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-gallery__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-gallery__item {
    width: calc((100% - 90px) / 3);
  }
}

.portfolio-gallery__item:hover .portfolio-gallery__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.portfolio-gallery__link {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  display: block;
}

.portfolio-gallery__link:hover {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 4px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 4px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

@media screen and (min-width: 768px) {
  .portfolio-gallery__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.portfolio-gallery__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-gallery__img {
  width: 100%;
}

.portfolio-gallery__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
}

.portfolio-gallery__descr {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

@media screen and (min-width: 768px) {
  .portfolio-gallery__descr {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.portfolio-gallery__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  color: #212121;
}

.portfolio-gallery__type {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.overlay__text {
  padding: 64px 24px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.card-href {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.card-href:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-href:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-button {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196F3;
  color: #fff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: 0.4, 0, 0.2, 1;
          transition-timing-function: 0.4, 0, 0.2, 1;
}

.main-button:hover, .main-button:focus {
  background-color: #188CE8;
}

.main-button--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  margin: 0 auto;
}

.main-button__icon {
  margin-left: 10px;
  fill: #fff;
}
/*# sourceMappingURL=main.css.map */