@import "utils/variables";
@import "base/normalize";
@import "utils/reset-styles";
@import "utils/placeholder";
@import "components/body";
@import "components/container";
@import "components/menu-container";
@import "components/header";
@import "components/logo";
@import "components/hero";
@import "components/backdrop";
@import "components/modal";
@import "components/form";
@import "components/advantage";
@import "components/task";
@import "components/team";
@import "components/partners";
@import "components/footer";
@import "components/portfolio";