.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity;
    transition-duration: $standart-transition-duration;
    transition-timing-function: $standart-cubic-bezier;
    z-index: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}