body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    letter-spacing: 0.03em;
    background-color: $white-color;
    color: $secondary-color;

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 24px;
    }
}