.header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width:768px) {
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width:1200px) {
        justify-content: start;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header__button {
    width: 40px;
    height: 40px;
    padding: 0;
    margin-left: auto;
    background-color: $white-color;
    border: 1px solid transparent;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.header__icon-close {

    .header__button:hover &,
    .header__button:focus & {
        fill: $effect-color;
    }

    .header__button & {
        display: none;
    }

    .header__button.is-open & {
        display: block;
    }
}

.header__icon-open {

    .header__button:hover &,
    .header__button:focus & {
        fill: $effect-color;
    }

    .header__button.is-open & {
        display: none;
        width: 40px;
        height: 40px;
    }
}


.header__nav {
    @media screen and (max-width:767px) {
        margin-bottom: auto;
    }
}

.list-nav {
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    @media screen and (min-width:1200px) {
        margin-left: 93px;
    }
}

.list-nav__items {
    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    @media screen and (min-width:768px) {
        &:not(:first-child) {
            margin-left: 50px;
        }
    }
}

.list-nav__link {
    display: inline-block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $main-color;

    transition: color;
    transition-duration: $standart-transition-duration;
    transition-timing-function: $standart-cubic-bezier;

    &:hover,
    &:focus {
        color: $effect-color;
    }

    @media screen and (min-width:768px) {
        font-size: 14px;
        line-height: 1.14;
    }
}

.list-nav__link--active {
    color: $effect-color;

    @media screen and (min-width:768px) {
        position: relative;

        &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $effect-color;
            transform: translateY(34px);
        }
    }

    @media screen and (min-width:1200px) {
        &::after {
            transform: translateY(32px);
        }

    }
}

.header__container-links {
    @media screen and (max-width:767px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-bottom: 64px;
    }

    @media screen and (min-width:768px) {
        margin-left: 84px;
    }

    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 305px;
    }
}

.header__link {
    display: block;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;

    @media screen and (min-width:768px) {

        &:hover,
        &:focus {
            color: $effect-color;
        }
    }
}

.header__link-tel {
    font-size: 34px;
    line-height: 1.17;
    color: $effect-color;

    @media screen and (max-width:767px) {
        margin-bottom: 32px;
    }

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.16;
        color: $secondary-color;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
        margin-left: 30px;
    }
}

.header__link-email {
    font-size: 24px;
    line-height: 1.16;
    color: $secondary-color;

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin-bottom: 10px;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
        margin-bottom: 0;
    }
}

.header__icon {
    display: none;

    @media screen and (min-width:768px) {
        display: inline-block;
        margin-right: 10px;
        fill: currentColor;
    }
}

.header__social-networks {
    display: flex;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.header__items {
    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:not(:first-child) {
        margin-left: 10px;
    }
}

.header__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $effect-color;
    text-decoration: none;
}