.menu-container {

  @media screen and (max-width:767px) {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $white-color;
    overflow-y: scroll;
    z-index: 2;

    &.is-open {
      display: flex;


    }

  }

}

.menu-container-two {
  @media screen and (max-width:767px) {
    position: relative;
    width: 100%;
    padding-top: 48px;
    padding-right: 83px;
    padding-bottom: 48px;
    padding-left: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.menu-container__button {
  position: absolute;
  top: 8px;
  right: 15px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  padding: 0;
  background-color: $white-color;
  border: 1px solid transparent;

  @media screen and (min-width:768px) {
    display: none;
  }
}