.list-works {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.list-works__items {

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

        transition: box-shadow;
        transition-duration: $standart-transition-duration;
        transition-timing-function: $standart-cubic-bezier;

    }

    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) {
        margin: 15px;
        width: 354px;
    }

    @media screen and (min-width:1200px) {
        width: 370px;
    }

}

.img {
    @media screen and (min-width:1200px) {
        width: 370px;
    }
}

.list-works__container-texno {
    @media screen and (min-width:768px) and (max-width:1199px) {
        height: 146.91px;
    }
}

.list-works__container {
    padding: 20px 24px;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    letter-spacing: 0.06em;

}

.list-works__title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

}

.list-works__text {
    color: $secondary-color;
    font-size: 16px;
    line-height: 1.87;
}

.list-button {
    display: flex;
    margin-bottom: 40px;

    @media screen and (max-width:767px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width:768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width:1200px) {
        margin-bottom: 50px;
    }
}

.list-button__items {
    margin-left: 9px;

    &:first-child {
        margin-left: 0;
    }

    @media screen and (max-width:767px) {

        &:nth-child(-n + 3) {
            margin-bottom: 15px;
        }
    }

    @media screen and (min-width:768px) {
        margin-left: 8px;

    }
}

.list-button__button {
    padding: 6px 22px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    background-color: $team-back-color;
    color: $main-color;
    border-radius: $standart-border-radius;
    border: 1px solid transparent;
    cursor: pointer;

    transition: background-color,
        box-shadow;
    transition-duration: $standart-transition-duration;
    transition-timing-function: $standart-cubic-bezier;

    &:hover,
    &:focus {
        background-color: $effect-color;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.thumb {
    position: relative;
    overflow: hidden;
}