.task-section {
    display: none;

    @media screen and (min-width:1200px) {
        display: block;
        padding-top: 0;
    }

}

.task-container {
    @extend %container;
}

.task-list {
    display: flex;
}

.task-item {
    position: relative;
    margin-right: 30px;

    &:last-child {
        margin-right: 0px;
    }
}

.img-task {
    width: 370px;
}


.task-name-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
}

.task-name {
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
}


.headlines {
    @extend %h-two;
}